@font-face {
    font-family: 'Mystical Woods Rough Script';
    src: url('../../public/assets/fonts/mystical-woods/MysticalWoodsRoughScript.eot');
    src: local('Mystical Woods Rough Script'), local('MysticalWoodsRoughScript'),
         url('../../public/assets/fonts/mystical-woods/MysticalWoodsRoughScript.eot?#iefix') format('embedded-opentype'),
         url('../../public/assets/fonts/mystical-woods/MysticalWoodsRoughScript.woff2') format('woff2'),
         url('../../public/assets/fonts/mystical-woods/MysticalWoodsRoughScript.woff') format('woff'),
         url('../../public/assets/fonts/mystical-woods/MysticalWoodsRoughScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Login.css */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0;
    height: 100vh; /* Ensure full height */
}

/* Overlay class */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Darker overlay to make text stand out */
}

/* Quote Text Container */
.quote-container {
    z-index: 2; /* Ensure quote text is above the overlay */
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Main Quote Text */
.quote-text {
    font-size: 36px; /* Adjust font size as needed */
    font-weight: lighter;
    font-style: italic;
    font-family: 'Mystical Woods Rough Script', sans-serif;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional shadow for readability */
}

/* Subtext */
.quote-subtext {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Optional shadow for readability */
}

.social-login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
    justify-content: center;
    gap: 20px; /* Space between 'Or sign in with' and the buttons */
    padding: 10px 0; /* Space above and below */
    margin-top: 20px; /* Adjust spacing above */
}

.social-login-buttons {
    display: flex;
    flex-direction: row; /* Change from column to row for horizontal alignment */
    gap: 20px; /* Space between buttons */
    justify-content: center; /* Center align the buttons */
    margin-bottom: 20px; /* Add space below the social buttons */
    margin: 0 10px;
}

.custom-google-button,
.custom-facebook-button,
.custom-apple-button {
    border: none;
    padding: 10px; /* Uniform padding for buttons */
    border-radius: 50%; /* Reduced border radius for a more square look */
    width: 60px; /* Set fixed width */
    height: 60px; /* Set fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease; /* Smooth hover effect */

}

.custom-google-button:hover,
.custom-facebook-button:hover,
.custom-apple-button:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Specific button colors */
.custom-google-button {
    background-color: #4285F4 !important; /* Google color */
    color: white; /* Text color */
}

.custom-facebook-button {
    background-color: #3b5998 !important; /* Facebook color */
    color: white; /* Text color */
}

.custom-apple-button {
    background-color: #000 !important; /* Apple color */
    color: white; /* Text color */
}


/* RegisterModal.css */
.modal-dialog{
    width: 40%;
    max-width: none;
}

.register-modal-body {
    /* background-image: url('path/to/your/background-image.jpg'); */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.register-modal-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    z-index: 1;
}

.register-modal-body form {
    position: relative;
    z-index: 2;
    color: white;
}

.or-signin-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust as needed */
    margin: 0; /* Adjust spacing as needed */
    color: #6c757d; /* Text color */
    font-weight: 500; /* Bold text */
    text-align: center;
    width: 100%;
}

.or-signin-text::before,
.or-signin-text::after {
    content: '';
    flex-grow: 1;
    height: 1px; /* Line thickness */
    background-color: #d3d3d3; /* Line color */
    margin: 0 10px; /* Space between line and text */
}
